{% extends "base.html"%}
{% block content %} 
        <h1 class="text-center">{{ title }}</h1>
        <div class="row">
                <form class="col s12" action="" method="post" novalidate>
                        {{ form.hidden_tag() }}
                  <div class="row">
                    <div class="input-field col s6">
                            {{ form.username.label }}
                            {{ form.username }} 
                            {% if form.username.errors %}
                                {% for error in form.username.errors %}
                                    <div class="red-text text-lighten-2">{{ error }}</div>
                                {% endfor %}
                            {% endif %}
                    </div>
                    <div class="input-field col s6">
                            {{ form.email.label }}
                            {{ form.email }}
                            {% if form.email.errors %}
                                {% for error in form.email.errors %}
                                    <div class="red-text text-lighten-2">{{ error }}</div>
                                {% endfor %}
                            {% endif %}
                    </div>
                    <div class="input-field col s6">
                            {{ form.password.label }}
                            {{ form.password }}
                            {% if form.password.errors %}
                                {% for error in form.password.errors %}
                                    <div class="red-text text-lighten-2">{{ error }}</div>
                                {% endfor %}
                            {% endif %}
                    </div>
                    <div class="input-field col s6">
                            {{ form.confirm_password.label }}
                            {{ form.confirm_password }}
                            {% if form.confirm_password.errors %}
                                {% for error in form.confirm_password.errors %}
                                    <div class="red-text text-lighten-2">{{ error }}</div>
                                {% endfor %}
                            {% endif %}
                    </div>
                   {{ form.submit(class="waves-effect waves-light btn") }}
                  </div>    
                </form>
              </div>
              <small>Already Have an account? <a href="{{url_for('login')}}">Login</a></small>
{% endblock content %}