<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
            <nav class="teal darken-4">
                <div class="container">
                    <div class="nav-wrapper">
                      <a href="#" class="brand-logo">Logo</a>
                      <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="{{ url_for('login') }}">Login</a></li>
                        <li><a href="{{ url_for('signup') }}">Register</a></li>
                        <li><a href="collapsible.html">JavaScript</a></li>
                      </ul>
                    </div>
                </div>
            </nav>
        <div class="container">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="card-panel teal lighten-2">{{ message }}</div>
                    {% endfor%}
                {% endif %}
            {% endwith %}
                {% block content %} {% endblock content %}
        </div>
        

      <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
    </body>
  </html>